---
import Site from '../layouts/default.astro';
---

<Site title="Koehn">
	<h2>ABOUT</h2>
	<p>
		Hi, I'm Koehn. I'm a 16 year-old High School student from the U.S. I have
		a passion for learning languages, travelling, collecting K-Pop memorabilia,
		and photography.
	</p>
	<a href="/about">More info...</a>
</Site>