---
import Default from "../layouts/default.astro";
---

<Default title="themetest">
  <h2>DEMO HEADER</h2>
  <p>Demo content for testing themes.</p>
  <blockquote>This is a blockquote.</blockquote>
  <p style="font-family: 'CommitMono', monospace;">Monospace test</p>
</Default>
