---
import Default from "../layouts/default.astro";
import { version, dependencies } from "../../package.json";
---

<Default title="Version">
  <p>
    website - <a href="https://github.com/chaezwav/chaezwav">v{version}</a>
    <a href="/changelog">changelog</a>
  </p>
  <p>astro - <a href="https://astro.build/">{dependencies["astro"]}</a></p>
</Default>
