---
import Default from "../layouts/default.astro";
import { version, dependencies } from "../../package.json";
---

<Default title="version">
  <h2>
    SITE - <a href="https://github.com/chaezwav/chaezwav">v{version}</a>
  </h2>
  <h2>ASTRO - <a href="https://astro.build/">{dependencies["astro"]}</a></h2>
</Default>
