---
const { title } = Astro.props;
import "../styles/global.css";
import themes from "../styles/themes.json";
---

<script define:vars={{ themes }}>
  function findThemeDefinition() {
    let localTheme = localStorage.getItem("theme");

    if (localTheme && !themes.find((t) => t.name === localTheme)) {
      localStorage.setItem("theme", "default");
      localTheme = "default";
      console.log("init: style: theme not found, set to default");
    }

    return themes.find((t) => t.name === localTheme);
  }

  const themeDefinition = findThemeDefinition();

  console.log("init: style: theme set to:", themeDefinition.name);

  const metaElement = document.createElement("meta");

  metaElement.name = "theme-color";
  metaElement.content = themeDefinition.background;

  document.head.appendChild(metaElement);
</script>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico" />
  <meta name="fediverse:creator" content="@koehn@social.lol" />
  <meta name="og:title" content="Koehn's Website" />
  <meta
    name="og:description"
    content="My personal website featuring my blog and other pages"
  />
</head>
