---
const { title } = Astro.props;
let theme;
import "../styles/global.css";
---

<script>
  function getTheme() {
    return document.documentElement.style.getPropertyValue(
      "--background-color"
    );
  }

  try {
    const metaTheme = document.createElement("meta");

    metaTheme.setAttribute("name", "theme-color");

    metaTheme.setAttribute("content", getTheme());

    document.head.appendChild(metaTheme);
    console.log(getTheme());
  } catch (e) {
    console.error(e);
  }
</script>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico" />
  <link rel="me" href="https://social.lol/@koehn" />
  <meta name="fediverse:creator" content="@koehn@social.lol" />
  <meta name="og:title" content="Koehn's Website" />
  <meta
    name="og:description"
    content="My personal website featuring my blog and other pages"
  />
</head>
