---
import ThemeSelector from "./ThemeSelector.astro";
import { version } from "../../package.json";
---

<footer>
  <div>૮ ․ ․ ྀིა</div>
  <ThemeSelector />
  <div>
    <a href="/">Koehn</a>
    © 2024 <a href="/version">v{version}</a>
  </div>
</footer>
