---
import ThemeSelector from "./ThemeSelector.astro";
import { version } from "../../package.json";
---

<footer>
  <ThemeSelector />
  <div>
    <strong>Koehn</strong>
    © 2024 <a href="/version">v{version}</a>
  </div>
</footer>
