---
import Default from "../../../layouts/default.astro";
import BlogPost from "../../../components/BlogPost.astro";

export async function getStaticPaths() {
  const postGlob = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(postGlob.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = postGlob.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );

    return {
      params: { tag },
      props: {
        filteredPosts,
      },
    };
  });
}

const { tag } = Astro.params;
const { filteredPosts } = Astro.props;
---

<Default title={"#" + tag}>
  <h2 style="color: var(--secondary-color) !important;">
    posts tagged with <span style="color: var(--primary-color) !important;"
      >#{tag}</span
    >
  </h2>
  {
    filteredPosts.map((post) => (
      <BlogPost
        url={post.url}
        title={post.frontmatter.title}
        date={new Date(post.frontmatter.pubDate).toISOString().slice(0, 10)}
      />
    ))
  }
</Default>
