---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ThemeRetrieval from "../components/ThemeRetrieval.astro";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;
---

<BaseHead title={frontmatter.title} />
<Nav />
<article>
  <h1 class="ptitle">{frontmatter.title}</h1>
  <slot />

  <div class="formatter">
    <p>∞ {new Date(frontmatter.pubDate).toISOString().slice(0, 10)}</p>
    <p>~ Koehn Humphries</p>
    <span>
      # {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
    </span>
  </div>
</article>
<Footer />

<ThemeRetrieval />
